<div class="mediaCard clearfix">
  <img src="<%= @user.profile_pic %>">
  <div>
    <ul>
      <li><h3><%= @user.user_name %><h3></li>
      <!--TODO: (send message instead of showing email) -->
      <li><h4><%= @user.email %></h4></li>
      <li>Bio: <%= @user.bio %></li>
    </ul>
    <% if current_user.id == @user.id %>
      <%= link_to "Edit", edit_users_profile_path(current_user)%>
    <% end %>
  </div>
</div>

<div class="article">
  <h4>Professional Associations</h4>
</div>





