<%= form_for(@practice) do |f| %>
  <% if @practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

      <ul>
      <% @practice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.number_field :phone_number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

  Professionals
  <% @professionals.each do |professional| %>
    <%= professional.inspect %>
  <% end %>

  <hr />
  
  Add Professional:
    <%= form_for(@professional) do |f| %>
    <% if @professional.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@professional.errors.count, "error") %> prohibited this professional from being saved:</h2> 

        <ul>
        <% @professional.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %> 
    <%= f.hidden_field 'practice_ids][', :value => @practice.id %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :phone_number %><br>
      <%= f.number_field :phone_number %>
    </div>
    <div class="field">
      <%= f.label :bio %><br>
      <%= f.text_area :bio %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>


