<div id="practices"></div>

<script type="text/javascript">
  $(function() {
  window.router = new RubyGettingStarted.Routers.PracticesRouter({practices: <%= @practices.to_json.html_safe -%>});
  Backbone.history.start();
  });
</script>


<!--
<div class="container">
<h1>Listing practices</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @practices.each do |practice| %>
      <tr>
        <td><%= practice.name %></td>
        <td><%= practice.address %></td>
        <td><%= practice.phone_number %></td>
        <td><%= link_to 'Show', practice %></td>
        
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_practice_path(practice) %></td>
          <td><%= link_to 'Destroy', practice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New practice', new_practice_path %>
<% end %>

</div>-->