<td><%= name %></td>
<td><%= address %></td>
<td><%= city %></td>
<td><%= province %></td>
<td><%= postal_code %></td>
<td><%= phone_number %></td>
<td><%= bio %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
