<div class="mediaCard clearfix">
  <img >
  <div>
    <ul>
      <li><h3><%= name %><h3></li>
      <li><h4><%= address %>, 
        <%= city %>, 
        <%= province %>,
        <%= postal_code %></h4></li>
      <li><h5><%= phone_number %></h5></li>
      <li>Bio: <%= bio %></li>
    </ul>
  </div>
  <a href="#/index">Index</a> |
  <a href="#/<%= id %>/edit">Edit</a>
</div>



