<!DOCTYPE html>
<html>
<head>
  <title>Find a Dentist</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home </a></li>
      <li><a href="/">Search by Location</span></a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" class="navbar-right">
        <span class="glyphicon glyphicon-user"></span>
          <% if user_signed_in? %>
            <strong><%= current_user.email %></strong>
          <% else %>
             <span class="glyphicon glyphicon-user"></span><%= link_to 'Join', new_user_registration_path %>
          <% end %>
        </a>
      </li>
    </ul>
  </div>
</nav>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
